@font-face {
    font-family: Mission Gothic;
    letter-spacing: 1px;
    src: url("../fonts/MissionGothicRegular.otf") format("opentype");
}

@font-face {
    font-family: Mission Gothic;
    font-weight: bold;
    src: url("./fonts/MissionGothicBold.otf") format("opentype");
}

body {
    padding: 5px;
    color: #3e3f3a;
    font-family: Open Sans;
    font-size: 19px;
    margin: 0px auto 0px auto;
    min-width: 300px;
    max-width: 800px;
}

ul {
    list-style-type: circle;
}

div#home-posts-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:  center;
} 

div#home-posts-container h2 {
    text-transform: uppercase;
    margin-bottom: 0;
}

div#home-posts-container ul {
    padding-left: 0;
    list-style-type: none;
    font-size: 20px;
    text-align: center;
}

div#home-posts-container ul a {
    text-decoration-line: none;
} 

div#home-posts-container ul .post-date {
    margin-left: 5px;
    font-size: 15px;
}

div#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo {
    width: 100px;
}
 
div#logo img {
    width: 100px;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: #3e3f3a;
    font-family: Mission Gothic;
    letter-spacing: 0.02em;
    font-size: 18px;
    margin-left: 12px;
    text-decoration: none;
}

div#footer {
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div.gist {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Roboto Mono;
}

div#content p {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    color: #3b3b3b;
}

div#content h1 {
    font-family: Mission Gothic;
    letter-spacing: 0.02em;
    color: #147294;
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}


div#content h1#home {
    font-family: Roboto Mono;
    color: #147294;
    font-weight: normal;
    font-size: 40px;
}

div#content h2 {
    font-family: Mission Gothic;
    letter-spacing: 0.02em;
    color: #147294;
    font-weight: normal;
    font-size: 30px;
}

div#content h3 {
    border-left: 5px solid lightblue;
    padding-left: 10px;
    font-family: Mission Gothic;
    letter-spacing: 0.02em;
    color: Black;
    font-weight: normal;
    font-size: 22px;
}

div#content p.home-p {
    font-size: 28px;
    font-family: Mission Gothic;
    letter-spacing: 0.02em;
    text-align: center;
}

div#content code {
    color: #105a75;
}

div#resume {
    margin-top: 20px;
}

#resume-href {
    color:#105a75 !important;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    text-align: center;
}
