
<p class="home-p">Welcome to Rodolfo's personal slice of the internet!</p>

<div id="home-posts-container">
    <h2>Recent Posts</h2>
    $partial("templates/post-list.html")$
    <p class="home-p">You can find all my posts in the <a href="/archive.html">archives</a>.</p>
</div>
