<h1 id="post-header">$title$</h1>

<div class="info">
    Posted on $date$
    $if(author)$
        by $author$
    $endif$
</div>
<div class="info">
    $if(tags)$
    Tags: $tags$
    $endif$
</div>

$body$

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = document.querySelector("link[rel='canonical']").getAttribute("href");  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "/ucsc-rvallada-$post-id$/"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://rvallada.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
